<li>
  <% user=@user %>
  <span class="name"> <%= instance.name %> </span>
  <span class="info"> 
    ID: <%= instance.instanceID %>
    <% if current_user?(user) %>
      <%= link_to "start", start_instances_path(instance)  %> 
    <% end %>
  </span>
  <br>
  <span class="info">
    IP: <%= instance.ip %> 
    <% if current_user?(user) %>
      <%= link_to "stop", stop_instances_path(instance) %> 
    <% end %>
  </span>
  <br>
  <span class="info"> 
    Type: <%= instance.instanceType %> 
      <% if current_user?(user) %>
        <%= link_to "delete", instance , method: :delete, confirm: "You sure?" %> 
      <% end %>
  </span>
  <br>
  <span class="info"> 
    Image: <%= instance.image %></span>
  <br>

  <% status = getStat(instance.instanceID) %>
  <% if status == 1 %>
    <span class="info"> Status:   <%= image_tag("green.png", alt: "TTGT" ) %></span>
  <% elsif status == 2 %>
    <span class="info"> Status: WAIT FOR GREEN (refresh page)   <%= image_tag("yellow.png", alt: "TTGT" ) %></span>
  <% else status == 3 %>
      <span class="info"> Status:   <%= image_tag("red.png", alt: "TTGT" ) %></span>
  <% end %>
</li>
