<li>
  <span class="name"> <%= instance.name %> </span>
  <span class="info"> ID: <%= instance.instanceID %>  <%= link_to "start", start_instances_path(instance)  %> </span>
  <br>
  <span class="info"> IP: <%= instance.ip %> <%= link_to "stop", stop_instances_path(instance) %> </span>
  <br>
  <span class="info"> Type: <%= instance.instanceType %> <%= link_to "delete", instance , method: :delete, confirm: "You sure?" %> </span>
  <br>
  <span class="info"> Image: <%= instance.image %></span>
  <br>
  <span class="info"> Status: </span>
  <%= image_tag("red.png", alt: "TTGT", width: "18", height: "18", align: "right" ) %>
</li>
