<li>
  <span class="name"><%= instance.name %></span>
  <span class="info">ID: <%= instance.instanceID %></span>
  <br>
  <span class="info">IP: <%= instance.ip %></span>
  <br>
  <span class="info">Type: <%= instance.instanceType %></span>
  <br>
  <span class="info">Image: <%= instance.image %></span>
  <br>
  <span class="info">Status: </span>
  <%= image_tag("red.png", alt: "TTGT", width: "20", height: "20", align: "right" ) %>
</li>
