<% provide(:title, 'All users') %>
<h1>All users</h1>

<ul class="users">
  <% @users.each do |user| %>
    <li>
      <%= gravatar_for user, size: 52 %>
      <%= link_to user.name, user %>
      <span class="info">
        <% if current_user.admin? && !current_user?(user) %>
          <%= link_to "delete", user, method: :delete, confirm: "You sure?" %>
        <% end %>
      </span>
      <br>
      <font size="2"> Points: <%= user.weightPoints %> </font>
      <span class="info">
        <% if current_user.admin? && !current_user?(user) && user.lock %>
          <%= link_to "unlock", unlock_path(user) %>
        <% end %>
      </span>
    </li>
 <% end %> 
</ul>

