<% provide(:title, @user.name) %>
<div class="row">
  <aside class="span4">
    <section>
      <h1>
	<%= gravatar_for @user %>
	<%= @user.name %>
	<% user=@user %>
	<% if current_user?(user) %>
	  <div id="actions">
	    <%= link_to "Create Instance", new_instance_path, class: "btn btn-large btn-primary" %>
	  </div>
	<% end %>
	
	</section>
      </h1>
    </section>
  </aside>
  <div class="span8">
    <% if @user.instances.any?  %>
      <h3>Instances (<%= @user.instances.count %>)</h3>
      <ol class="instances">
	<%= render @instances %>
      </ol>
    <% end %>
    </div>
</div>
